* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #091921;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainsection {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App {
  margin-top: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


form {
  border: 1px red;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#timezoneinput {
  padding: 5%;
  border-radius: 10px
}

.btn {
  border-radius: 3%;
  font-size: 1.15rem;
  padding: 3%;
  margin-left: 50px;
  background-color: #102733;
  padding: 0.25rem;
  color: white;
  border-radius: 5px;
  border: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.clockcontainer {
  position: relative;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 30vw;
  height: 30vw;
  background: url('assets/clock.png') no-repeat;
  background-size: 100%;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 -15px 15px rgba(255, 255, 255, 0.3),
    inset 0 15px 15px rgba(0, 0, 0, 0.3),
    0 15px 15px rgba(0, 0, 0, 0.05);
}


#hour, #min, #sec, #midpoint {
  position: absolute;
  width: 3px;
  height: 25px;
  transform-origin: bottom;
}

#midpoint {
  width: 6%;
  height: 6%;
  background: #091921;
  filter: brightness(200%);
  border-radius: 50%;
  z-index: 14;
  top: 47.5%;
  left: 48%;
}

#hour {
  width: 2.4%;
  height: 21%;
  border-radius: 8px 8px 0 0;
  z-index: 10;
  background: #ff105e;
  top: 30.8%;
  left: 49.8%;

}

#min {
  width: 1.8%;
  height: 27%;
  border-radius: 8px 8px 0 0;
  z-index: 11;
  background: #00b7ff;
  top: 24.2%;
  left: 50.0%;

}

#sec {
  width: 1.5%;
  height: 32%;
  border-radius: 8px 8px 0 0;
  z-index: 12;
  background: #fff;
  filter: brightness(70%);
  top: 19.5%;
  left: 50.1%;

}

.custom-select, .digitaltime {

  background-color: #102631;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.digitaltime, .p-5 {
  position: relative;
  margin: auto;
  margin-top: 30px;
  display: inline-block;
  justify-content: center;
  border-radius: 10%;
  padding: 2%;
}

.p-5 {
  padding: 0;
  margin-top: 0px;
  left: 3%;
}

.digitaltime p {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1400px) {
  .clockcontainer {
    width: 40vw;
    height: 40vw;
  }
}

@media screen and (max-width: 1000px) {
  .clockcontainer {
    width: 45vw;
    height: 45vw;
  }
}

@media screen and (max-width: 600px) {
  .clockcontainer {
    width: 60vw;
    height: 60vw;
  }
  .p-5, .digitaltime {
    left: 0%;
  }
   .digitaltime {
     right: 12%;
   }

  .p-5 {
    right: 100%;
  }
}